## Printing Statement !

In [49]:
print("Vivek Yadav")

Vivek Yadav

In [3]:
x = 2
print(type(x))

<class 'int'>

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     2

In [7]:
a,b,c,d,e = 3,7.0,-1,'4',8

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          float    7.0
c          int      -1
d          str      4
e          int      8
x          int      2

In [9]:
del abcde

NameError: name 'abcde' is not defined

In [10]:
del(a,b,c,d,e)

In [11]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     2

In [13]:
print(abcde)

NameError: name 'abcde' is not defined

In [14]:
c = 2+4j

In [15]:
print(type(c))

<class 'complex'>

# # Bool

In [16]:
print((not(2!=3) and True)or(False and True))

False

## Functions

### divmod()

In [17]:
divmod(12, 4)

(3, 0)

In [18]:
a = divmod(12, 3)

In [19]:
print(a)

(4, 0)

In [20]:
print(type(a))

<class 'tuple'>

In [21]:
a[0]

4

In [22]:
a[1]

0

### isinstance()

In [24]:
isinstance(3, int)

True

In [25]:
isinstance(2 + 3j, (int, float))

False

### power()

In [26]:
pow(2, 4)

16

In [27]:
pow(2, 4, 7)

2

#### First it resolve 2 raise the power 4 then remainder by 7

# First Question

  ## Take two inputs and print the bigger one !

In [29]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if a > b:
    print("The bigger number is a : ", a)
elif a == b:
    print("Both a and b are equal")
else:
    print("The bigger number is b : ", b)

Enter the first number: 56
Enter the second number: 56
Both a and b are equal

# Loops

### While loop

In [3]:
n = int(input("Enter how many times you want to iterate the loop : "))
i = 1
while i < n:
    print(i**2)
    print("This is iteration number : ",i)
    i += 1
print("Loop done")

Enter how many times you want to iterate the loop : 4
1
This is iteration number :  1
4
This is iteration number :  2
9
This is iteration number :  3
Loop done

In [4]:
n = int(input("Enter how many times you want to iterate the loop : "))
i = 1
while i < n:
    if i % 2 == 0:
        print(i)
    else:
        pass
    i += 1
print("Loop done")

Enter how many times you want to iterate the loop : 4
2
Loop done

### For Loop

In [5]:
L = []
for i in range(10):
    print(i+1)
    L.append(i**2)

1
2
3
4
5
6
7
8
9
10

In [12]:
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
print(L[5])

25

#### Else in for loop

In [16]:
S = {"Apple", 4.9, "Cherry"}
for x in S:
    print(x)
else:
    print("Loop terminates with success")
print("Out side the loop")

Apple
4.9
Cherry
Loop terminates with success
Out side the loop

## Dictionary

In [17]:
D = {"Apple":44, "Cherry":"game"}
for x in D:
    print(x, D[x])

Apple 44
Cherry game

### Question

#### You have to given a list of numbers i.e. [1,2,4,-5,7,9,3,2] make another list that contains all the items in sorted order from min to max i.e. your result will be another list like [-5,1,2,2,3,3,7,9]

In [23]:
L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j,len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c += 1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

 # string

In [30]:
price = 12
s = "The price of this book"
v = s +' is : ' + str(price)
print(v)
print(s,"is :",price)

The price of this book is : 12
The price of this book is : 12

#### multiline string

In [33]:
a = """This is line 1
This is line 2
This is line 3 """

print(a)

This is line 1
This is line 2
This is line 3

### Indexing and Slicing

In [34]:
a = "Game of programming"
print(a[3:8])
print(a[-8:-3])

print(len(a))
print(len(a[3:8]))

e of
gramm
19
5

In [35]:
print(a[-8])

g

In [36]:
print(a[-3])

i

In [37]:
print(a[::-1])

gnimmargorp fo emaG

#### Start:End:Step

In [39]:
a[0:19:2]

'Gm fpormig'

In [42]:
a = "    A lot of spaces at the beginning and End     "
b = a.strip()
print(b)
print(b.lower())
print(b.upper())
print(a.replace("A","a"))

A lot of spaces at the beginning and End
a lot of spaces at the beginning and end
A LOT OF SPACES AT THE BEGINNING AND END
    a lot of spaces at the beginning and End

In [43]:
a = "abc;def;ghijkl;y223"
L = a.split(";")
print(L)

['abc', 'def', 'ghijkl', 'y223']

In [45]:
print(L[1])

def

## Use of 'in' or 'not in' in string

In [50]:
"abc" in "asdfafdjal;jfdopasdfobajfd;l"

False

In [48]:
"abc" in "asdfafdjal;jfdopasdfobajfd;labc"

True

In [52]:
"jk" in "gdtrhdhmjku"

True

In [53]:
"%&"<"*&"

True

In [54]:
print("we are learning \"string\" here")

we are learning "string" here

In [55]:
print('we are learning "string" here')

we are learning "string" here

In [59]:
print("c:\name\drive")
'''here in \name "\n" treat as a new line character !'''

c:
ame\drive

'here in \name "\n" treat as a new line character !'

#### for resolve this we use raw string format

In [60]:
print(r"c:\name\drive")
'''for raw string format we use "r" before statement'''

c:\name\drive

'for raw string format we use "r" before statement'

# Data Structures

# List

In [74]:
L = [12, "banana", 5.3]

### List is ordered

In [75]:
L[1]

'banana'

In [76]:
L = L+["game"]

In [77]:
L[2] = "orange"

### List is changeable

In [78]:
L

[12, 'banana', 'orange', 'game']

In [79]:
del L[1]

In [80]:
L

[12, 'orange', 'game']

In [81]:
L2 = L.copy()

### In List we make duplicates

In [82]:
L2

[12, 'orange', 'game']

In [121]:
L2[::-1]

['game', 'orange', 12]

In [122]:
L2[0:2]

[12, 'orange']

# Tuple

In [89]:
T = (12, "banana", 5.3)

### Tuple is ordered

In [90]:
T[2]

5.3

### Tuple is unchangeable

In [95]:
T = T+("game")

TypeError: can only concatenate tuple (not "str") to tuple

In [91]:
T[3] = T[0] + T[2]

TypeError: 'tuple' object does not support item assignment

In [92]:
T

(12, 'banana', 5.3)

In [96]:
del T[1]

TypeError: 'tuple' object doesn't support item deletion

In [97]:
T2 = T

### In Tuple we make duplicates

In [98]:
T2

(12, 'banana', 5.3)

In [126]:
T2[:3]

(12, 'banana', 5.3)

# Set

In [99]:
S = {12, "banana",5.3}

### Set is unordered

In [101]:
x in S

False

In [102]:
S.add("new item")

In [103]:
S.update({"more","items"})

In [104]:
S

{12, 5.3, 'banana', 'items', 'more', 'new item'}

In [106]:
S.remove("banana")

### In Set Adding and Removing items is Allowed

In [107]:
S

{12, 5.3, 'items', 'more', 'new item'}

In [108]:
S2 = S.copy()

In [109]:
S2

{12, 5.3, 'items', 'more', 'new item'}

In [110]:
del S2

In [111]:
S2

NameError: name 'S2' is not defined

# Dictionary

In [112]:
D = {"val":12,"name":"Ban"}

### Dictionary is unordered

In [113]:
D["val"]

12

In [114]:
D["val"] = newvalue

NameError: name 'newvalue' is not defined

### Dictionary is changeable

In [115]:
D["newkey"] = "newval"

In [116]:
D

{'val': 12, 'name': 'Ban', 'newkey': 'newval'}

In [117]:
del D["val"]

In [118]:
D

{'name': 'Ban', 'newkey': 'newval'}

In [119]:
D2 = D.copy()

In [120]:
D2

{'name': 'Ban', 'newkey': 'newval'}

## Question

#### Let say you are a teacher and you have different student records containing id of a student and the marks list in each subject where different students have taken different number of subjects. All these records are in hard copy. You want to enter all the data in computer and want to compute the average marks of each student and display !

In [127]:
def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [128]:
studentData = getDataFromUser()

Enter student ID: 12
Enter the marks by comma separated values: 24,41,50
Enter "no" to quit insertion: no

In [135]:
studentData

{'12': ['24', '41', '50']}

In [141]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [142]:
avgM = getAvgMarks(studentData)

In [143]:
for x in avgM:
    print("Student :",x,"got avg Marks as: ",avgM[x])

Student : 12 got avg Marks as:  38.333333333333336

# Map Function

In [15]:
def even_odd(a):
    if a%2==0:
        return'The number {} is even'.format(a)
    else:
        return'The number {} is odd'.format(a)

In [16]:
even_odd(24)

'The number 24 is even'

In [17]:
lst=[24,2,3,5,6,8,10,12,98]

In [18]:
list(map(even_odd,lst))

['The number 24 is even',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 8 is even',
 'The number 10 is even',
 'The number 12 is even',
 'The number 98 is even']

# Lambda Function

In [19]:
def addition(a,b):
    return a+b

In [20]:
addition(4,8)

12

In [21]:
addition=lambda a,b:a+b

In [22]:
addition(7,11)

18

### Lambda Function is only work in single expressions

# Filter Function

In [23]:
def even(num):
    if num % 2 == 0:
        return True

In [24]:
lst = [1,2,3,4,5,6,7,8,9,0]

In [25]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [26]:
list(filter(lambda num: num%2==0, lst))

[2, 4, 6, 8, 0]

In [28]:
list(map(lambda num: num%2==0, lst))

[False, True, False, True, False, True, False, True, False, True]

# List Comprehensions

##### List comprehensions provide a concise way to create lists.

In [36]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [37]:
lst_square([1, 2, 3, 4, 5, 6, 7])

[1, 4, 9, 16, 25, 36, 49]

In [44]:
### list comprehension
lst=[1, 2, 3, 4, 5, 6, 7]

In [45]:
[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49]

In [46]:
[i*i for i in lst if i%2==0 ]

[4, 16, 36]

In [47]:
[i*i for i in lst if i%2!=0 ]

[1, 9, 25, 49]

# String Formatting